@model GetSqlServer.Models.Person

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Person</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TimesMet)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TimesMet)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.WhenMet)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.WhenMet)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LastMet)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LastMet)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { name = Model.Name })
</p>
