@model IEnumerable<GetSqlServer.Models.Person>
@*@using Humanizer*@

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>The Robot's Memory</h2>

<hr />

@using (Html.BeginForm("Index", "People", FormMethod.Get)) //Use the Get method so search parameters are preserved in URI
{
    <p class="form-inline">
        Filter: @*@Html.TextBox("SearchString", "", new { @class = "form-control", @id = "filter-field", @value = "hal" })*@
        <input class="form-control" id="filter-field" name="SearchString" type="text" value="@ViewBag.searchString" />
        <input id="filter-button" type="submit" value="Filter" class="btn btn-default" />
    </p>
}

@*<p>
        @Html.ActionLink("Meet the friendly robot", "Create")
    </p>*@
<table id="people" class="table table-bordered table-hover">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TimesMet)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.WhenMet)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LastMet)
            </th>
            <th></th>
        </tr>
    </thead>

    <tbody> @*This gets filled in by datatables.*@
    </tbody>

</table>

@section scripts
                {
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.24.0/moment.min.js"></script>
    <script>
        $(document).ready(function () {
            var now = "@ViewBag.now"
        console.log(now);
            //var field = $("#filter-field");
            var table = $("#people").DataTable({ //config object
                "ajax": {
                    "url": "/api/people?searchString=" + $("#filter-field").val(),
                    "dataSrc": ""
                },
                "columns": [
                    {
                        data: "",
                        render: function (data, type, person) {
                            return "<a href='/people/edit/" + person.name + "'>" + person.name + "</a>";
                        }
                    },
                    {
                        data: "timesMet"
                    },
                    {
                        data: "whenMet",
                        render: function (date) {
                            if (date) {
                                return moment(date).format("L LT");
                                //return moment.duration(moment(now).format() - moment(date).format()).humanize();
                            }
                        }
                    },
                    {
                        data: "lastMet",
                        render: function (date) {
                            if (date) {
                                return moment(date).format("L LT");
                            }
                        }
                    },
                    {
                        data: "name",
                        render: function (data) {
                            return "<button data-person-name='" + data + "' class='btn-link js-delete'>Delete</button> <a href='/people/details/" + data + "'>Details</a> ";
                        }
                    }
                ]
            });

            $("#filter-button").on("click", () => {
                console.log("click button");

                //table.ajax.load();

                //var button = $(this);
                //var field = $("#filter-field");
                //; $.ajax({
                //    url: "/api/people/?searchString=" + $(field).val,
                //    method: "GET",
                //    success: function () {
                //        // console.log("delete success.");
                //        // button.parents("tr").remove();
                //    }

                //});


            });


            $("#people").on("click", ".js-delete", function () {
                var button = $(this);
                bootbox.confirm("Are you sure you want to delete this person?", function (result) {
                    if (result) {
                        $.ajax({ // The jQuery ajax function
                            url: "/api/people/" + $(button).attr("data-person-name"),
                            method: "DELETE",
                            success: function () {
                                //console.log("success filter button");
                                // button.parents("tr").remove();
                                // TODO: remove from the table
                                //      table.render();
                            }
                        })
                    }
                });
                //if (confirm("Sure you want to delete?")) {
                //    //console.log("delete success.");
                //}
            })

        });

    </script>
}
